.tituloh {
    background: linear-gradient(90deg, #ff6b6b, #ffcc5c);
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.body_h {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.tl {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 10px;
}

.tl::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ff6b6b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.tline {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.tline.l {
    left: 0;
}

.tline.r {
    left: 50%;
}

.tline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #ff6b6b;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.tline.r::after {
    left: -16px;
}

.tl-c {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.tline.l .tl-c {
    text-align: right;
}

.tline.r .tl-c {
    text-align: left;
}

.tl-c h2 {
    margin-top: 0;
    color: #ff6b6b;
}

.tl-c p {
    margin: 10px 0 20px;
}

.buttonh img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttonh:hover {
    background-color: #ff4b4b;
}


@media (max-width: 1024px) {
    .tline {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .tline.l, .tline.r {
        left: 0;
    }

    .tline::after, .tline.r::after {
        display: none;
    }

    .tl::after {
        display: none;
    }

    .tline .l .tl-c, .tline .r .tl-c {
        text-align: center;
    }

    .tituloh {
        font-size: 36px;
        padding: 15px;
    }

    .tl {
        margin: 30px auto;
    }

    .tl-c h2 {
        font-size: 24px;
    }

    .tl-c p, .tl-c ul {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .tline {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .tline::after, .tline.r::after {
        display: none;
    }

    .tl::after {
        display: none;
    }

    .tituloh {
        font-size: 24px;
        padding: 10px;
    }

    .tl {
        margin: 20px auto;
    }

    .tl-c h2 {
        font-size: 20px;
    }

    .tl-c p, .tl-c ul {
        font-size: 14px;
    }
}
